<div class="grid grid-cols-1 gap-6 my-6 px-4 md:px-6 lg:px-8">
    <div class="max-w-xl mx-auto px-4 py-4 bg-white shadow-md rounded-lg">
      <div class="py-2 flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
          <a href="#" class="flex flex-row items-center focus:outline-none focus:shadow-outline rounded-lg">
            Postado por<p class="ml-2 text-base font-medium"><%= post.user.email %></p>
          </a>
        </div>
        <div class="flex flex-row items-center">
          <p class="text-xs font-semibold text-gray-500"><%= time_ago_in_words(post.created_at) %></p>
        </div>
      </div>
      <div class="mt-2">
        <img class="object-cover w-full rounded-lg" src="https://images.unsplash.com/photo-1586398710270-760041494553?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1280&q=80" alt="">
        <div class="py-2 flex flex-row items-center">

          <%= button_to like_path(post.id), method: :post, class: "flex flex-row items-center focus:outline-none focus:shadow-outline rounded-lg" do %>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-5 h-5 fill-red-500  hover:fill-red-700"><path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
            <span class="ml-1"><%= post.likes.count %></span>
          <% end %>

        </div>
      </div>
      <div class="py-2">
        <p class="leading-snug"> <%= post.text %></p>
      </div>
    </div>
  </div>